* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #0077be;
}
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "得意黑 斜体";
  font-weight: 400;
  src: url("//at.alicdn.com/wf/webfont/eT4EWTyZoHNl/epP4fwue1oTN.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/eT4EWTyZoHNl/rxlgZKK8XrXc.woff")
      format("woff");
  font-display: swap;
}
