* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 200px;
}

.input {
    margin-bottom: 30px;
    height: 150px;
}

input {
    width: 100%;
    background-color: transparent;
    border: 5px solid transparent;
    transition: all 1s;
    outline: none;
    color: #d09566;
    opacity: 0.8;
}

input:hover {
    opacity: 1;
}

input::placeholder {
    color: #d09566;
    font-size: 26px;
    transition: all 1s;
    opacity: 1;
}

input:hover::placeholder {
    font-size: 14px;
    padding-left: 20px;
    opacity: 0.5;
}

#myHas:hover {
    border: 5px solid #8CC7B5;
    transform: rotate(10deg);
}

#youLikes:hover {
    border: 5px solid #8CC7B5;
    transform: rotateZ(-10deg);
}



#button {
    position: relative;
    width: 100%;
    background-color: transparent;
    font-size: 30px;
    border: 5px solid transparent;
    transition: all 1s;
    color: #F4606C;
}

#button:hover {
    background-color: #fff;
    border: 10px solid #E6CEAC;
    transform: scale(0.9);
    transform: translateY(-20px);
}

.footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 5px solid transparent;
    transition: all 1s;
}

.footer:hover {
    border: 5px solid #BEE7E9;
    transform: scale(0.99);
}

.footer>p {
    transition: all 1s;
    height: 50px;
    font-size: 20px;
    color: #19CAAD
}

.right {
    right: -400px;
    top: 20%;
    cursor: col-resize;
    margin-bottom: 50px;
    color: #19CAAD;
}

ul {
    list-style: none;
}

p {
    font-size: 20px;
    font-weight: 200;
}

ul>li {
    margin-bottom: 20px;
    font-weight: 600;
}

@media (max-width: 900px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 2fr 1.5fr;
    }

    .right {
        top: 10px;
    }

    .input {
        max-height: 30px;
        font-size: 18px;
    }

    .input::placeholder {
        font-size: 16px;
    }

    #button {
        width: 100%;
        color: #F4606C;
    }

    .right {
        float: none;
        width: 100%;
        position: relative;
        left: 0;
    }

    .footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .footer>#youhas {
        margin-top: 20px;
    }
}